   <header>
        <nav>
            <h1>Elián Jairo Uzías Pérez Rosales</h1>
            <a href="/">Inicio</a>
            <a href="/infopersonal">Conóceme</a>
            <a href="/proyecto1">Proyecto 1</a>
            <a href="/proyecto2">Proyecto 2</a>
            <a href="/proyecto3">Proyecto 3</a>
            <a href="/proyecto4">Proyecto 4</a>
            <a href="/proyecto5">Proyecto 5</a>
            <a href="/proyecto6">Proyecto 6</a>
            <a href="/proyecto7">Proyecto 7</a>
        </nav>
    </header>