<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Personal - Elián Jairo Uzías Pérez Rosales</title>
     <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{> header }}

    <main class="sobre-mi">
        <section class="intro">
            <h2>Sobre Mí</h2>
            <p>Hola, soy Elián Jairo Uzías Pérez Rosales, un apasionado de la tecnología y el desarrollo de software. A lo largo de mi carrera, me he dedicado a mejorar mis habilidades en ingeniería de sistemas, con un enfoque en el desarrollo web, redes y administración de servidores.</p>
                 <div id="profile">
                <img src="./imagenes/Jairo2.jpg" alt="Foto Elian">
            </div>
        </section>

        <section class="habilidades">
            <h3>Habilidades</h3>
            <div class="skill">
                <h4>HTML</h4>
                <div class="progress-bar">
                    <div class="progress" style="width: 90%;"></div>
                </div>
            </div>
            <div class="skill">
                <h4>CSS</h4>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                </div>
            </div>
            <div class="skill">
                <h4>Python</h4>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
            </div>
            <div class="skill">
                <h4>Linux</h4>
                <div class="progress-bar">
                    <div class="progress" style="width: 85%;"></div>
                </div>
            </div>
        </section>

        <section class="contacto">
            <h3>Contacto</h3>
            <p>Puedes ponerte en contacto conmigo a través de mis redes sociales o por correo electrónico.</p>
            <ul class="redes-sociales">
                <li><a href="https://www.facebook.com/share/L58KnSFNk8uED8vt/?mibextid=LQQJ4d">facebook</a></li>
                <li><a href="eperezr35@miumg.edu.gt">eperezr35@miumg.edu.gt</a></li>
                <li><a href="eperezr35@miumg.edu.gt">eperezr35@miumg.edu.gt</a></li>
            </ul>
        </section>
    </main>

    {{> footer }}
</body>
</html>
