<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 6 Cálculo MRU</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleproject.css">
</head>
<body>
{{> header }}

    <section id="proyecto">
        <button class="btn-home"><a href="/">Inicio</a></button>
        <h1>Proyecto 6 Cálculo Mru</h1>
        <p>Esta página web proporciona una herramienta interactiva para realizar cálculos relacionados con el Movimiento Rectilíneo Uniforme (MRU). Utilizando un diseño simple y amigable, la página permite a los usuarios ingresar valores específicos para calcular la velocidad, el tiempo o el desplazamiento de un objeto en movimiento a velocidad constante. Además, la interfaz es completamente responsiva, lo que garantiza que los usuarios puedan acceder y utilizar la herramienta desde cualquier dispositivo.

           <br><br> Características principales:
            
           <br>Formulario para el cálculo de velocidad, tiempo y desplazamiento.
           <br> Interfaz minimalista y fácil de usar.
           <br> Diseño responsivo que se adapta a diferentes tamaños de pantalla.
           <br>Información adicional sobre MRU para una mejor comprensión del concepto.</p>
        <img src="./imagenes/proy6.jpg" alt="Calculo Mru">
    </section>

    <button class="btn-home"><a href="https://drive.google.com/file/d/1iXxltzZ5RW5ypG3gZABzSzRPIJCvmLLZ/view?usp=sharing">Video de referencia</a></button> 

   {{> footer }}
</body>
</html>
