<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 7 Portafolio Ética</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleproject.css">
</head>
<body>
  {{> header }}

    <section id="proyecto">
        <button class="btn-home"><a href="/">Inicio</a></button>
        <h1>Proyecto 7 Portafolio Etica</h1>
        <p>Este portafolio digital presenta los principios y reflexiones desarrollados a lo largo del curso de Ética Profesional. La página HTML está diseñada de manera clara y organizada, con un enfoque en la presentación de temas éticos clave en un formato fácil de navegar y comprender. Cada sección aborda un principio ético relevante, acompañado de citas bíblicas, reflexiones y ejemplos prácticos para reforzar su aplicación en la vida profesional.

            <br><br>Características principales:
            
            <br>Secciones dedicadas a temas como la comunicación, integridad, empatía, justicia y más.
            <br> Efectos de entrada y desplazamiento para hacer la navegación dinámica e interactiva.
            <br>Inclusión de un video de YouTube relacionado con los principios discutidos.
            <br> Diseño responsivo que asegura una visualización óptima en cualquier dispositivo.
            <br> Menú desplegable que facilita el acceso a las diferentes secciones del portafolio.
            <br>Apartado especial con los nombres de los integrantes del grupo y sus contribuciones al proyecto.
            <br> Información adicional sobre el Decálogo de Ética del Ingeniero en Sistemas y definiciones de moral y ética..</p>
        <img src="./imagenes/proyecto7a.jpg" alt="Juego de Ajedrez">
    </section>
    
    <button class="btn-home"><a href="https://youtu.be/1eVgoTNk7EI">Video en YouTube</a></button> 
    <button class="btn-home"><a href="https://bran2211.github.io/EticaProfesiona/">Proyecto en github</a></button> 

    {{> footer }}
</body>
</html>
